div.o3j99.qarstb {
  display: none;
}

div.uU7dJb {
  display: none;
}

div.KxwPGc.SSwjIe {
  display: none;
}

div div center {
  display: none;
}

div.o3j99.n1xJcf.Ne6nSd,
.Q3DXx .gb_a,
#gb[style] {
  opacity: 0.01;
  transition: all 0.5s ease-in-out;
  background-color: #00000000 !important;
  &:hover {
    opacity: 1;
  }
}

.sfbg {
  background-color: #00000000;
  backdrop-filter: blur(10px);
}

.Ww4FFb {
  border-radius: 2em;
  transition: all 0.3s ease-in-out;
  &:hover {
    scale: 1.02;
  }
}

.iRPzcb,
.omFXYd,
.u7yw9,
.RzdJxc,
.rKnmn {
  border: none;
}

.byrV5b cite {
  opacity: 0.3;
  &:hover {
    opacity: 1;
  }
}

#sfooter {
  display: none;
}

.wH6SXe {
  background-color: #00000000;
}

.YQ4gaf {
  border-radius: 0.5em;
}

img.XNo5Ab {
  width: 3em;
  height: 3em;
  border-radius: 1em;
}
